@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
.main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.preloader {
  /* Center the preloader */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Optional background overlay */
  z-index: 999;
  /* Ensure the preloader is on top of other elements */
}

.preloader div {
  /* Customize the spinner animation (e.g., using a CSS library) */
  width: 50px;
  height: 50px;
  border: 5px solid #fff;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



.container {
  position: relative;
  min-height: 35vh;
  width: 450px;
  background: #0C2D57;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 20px;
  border-radius: 10px;
  z-index: 2;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/bg.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  z-index: -1;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  color: #FC6736;
}

p {
  font-size: 20px;
  color: #EFECEC;
  font-family: sans-serif;
  margin-top: 10px;
}

button {
  font-size: 16px;
  font-weight: 600;
  padding: 7px 24px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s ease-out;
  background: #FC6736;
  color: #0C2D57;
  border: 2px solid #EFECEC;
}

button:hover {
  background: #0C2D57;
  color: #EFECEC;
}